* { margin: 0; }
#header-color {
    background-color: white;
	width: 100%;
	height: 65px;
	overflow-x: hidden;
	border: #4C8BA1;
	padding-left: 15px;
	position: relative;
}

#header-name {
	text-align: left;
	font-size: 150%;
	color: black;
	font-family: verdana;
	height: 10px;
	padding-top: 17px;
	position: relative;
}
#button-forums{
	text-align: center;
	color: black;
	padding-bottom: 0px;
	display: table;
	padding: 10px;
	border-radius: 10px;
	margin: 0px auto 0px auto;
	position: relative;
	left: 575px;
	top: -60px;
}
#header-1 {
	position: relative;
	
}